[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlops_codex = {path = "."}

[dev-packages]
notebook = "==6.5.2"
ipykernel = "*"
pydata-sphinx-theme = "==0.12.0"
sphinx = "==6.1.3"
sphinx-intl = "==2.1.0"
m2r2 = "*"
twine = "*"
pandas = "==1.4.0"
lightgbm = "==3.3.2"
scikit-learn = "==1.2.0"
pyaml="==24.9.0"
pydantic="==2.10.4"